.style-description {
    resize: vertical;
}

.form-background {
    background-image: url('/pictures/background-form.jpg');
    /* background-image: url("https://assets.codepen.io/6093409/sprocket.svg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    color:white;
    border-radius:  2%;
}
