.navbar-nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
  }


.color-navbar {
    background-color: navajowhite !important;
  }
  
.navbar-nav .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }
  
.navbar-nav .nav-item img {
    order: -1;
    margin-bottom: 2px;
    margin-top: 5px;
  }
  
.bg-light-hp {
    --bs-bg-opacity: 1;
}